@import "base/var";
@import "base/reset";
@import "base/color";
@import "base/font";
//mixin
@import "mixin/mixins";

//module
@import "module/btn";

//layout 
@import "layout/header";
@import "layout/footer";

//vendor 套件
// @import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "../node_modules/owl.carousel/src/scss/owl.carousel";

//page

@import "page/index";
@import "page/about";


.wrapper_full {
   width: 100vw;
   height: 200vh;
   color: #ff0084;
}








