// 基本字型
$basic   :  'Open Sans', sans-serif ;
// 使用google font
$fontfamilys: ( 
    Roboto: (('Roboto', sans-serif), 'https://fonts.googleapis.com/css?family=Roboto&display=swap'),
    Noto_Sans_TC: (('Noto Sans TC', sans-serif), 'https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap')
);

//font 通用設定
$fontfamily    : $basic;
$font_base_size : 14px ;
$font_weight    : 300 ; 
$line_height    : 1.5 ;
$base_color     : #3f3f3f ;
$letter-spacing : 0.01rem;
$word-spacing   : 2px ;




