body{
    margin: 0;
}

$border:1px solid green;
@mixin allpaperposition($top, $left,$z-index:null) {
        position: absolute;
        top: $top;
        left: $left;
        z-index:$z-index;
        @content
}

    #memSide { 
        margin: 0 auto;
        width: 1200px;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
        border: $border;
        position: relative;
        .memClip_1{
            border: $border;
           @include allpaperposition(100px,500px,-1)
        }
        .memBoard{
            border: $border;
            display: block;
            margin: 0 auto;
            margin-top: 150px;
        }
        .memLove{
            background-image: url(/img/mem_love.png);
            @include allpaperposition(180px,50px)
        }
        .memActivity{
            @include allpaperposition(180px,40px)
        }
        .memShop{
            @include allpaperposition(185px,40px)
        }
        .memPersoninfo{
            @include allpaperposition(190px,50px)
        }
        .memMybody{
           
            @include allpaperposition(190px,50px)
        }
    }
   


