body {
  margin: 0;
}

#memSide {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid green;
  position: relative;
}

#memSide .memClip_1 {
  border: 1px solid green;
  position: absolute;
  top: 100px;
  left: 500px;
  z-index: -1;
}

#memSide .memBoard {
  border: 1px solid green;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
}

#memSide .memLove {
  background-image: url(/img/mem_love.png);
  position: absolute;
  top: 180px;
  left: 50px;
}

#memSide .memActivity {
  position: absolute;
  top: 180px;
  left: 40px;
}

#memSide .memShop {
  position: absolute;
  top: 185px;
  left: 40px;
}

#memSide .memPersoninfo {
  position: absolute;
  top: 190px;
  left: 50px;
}

#memSide .memMybody {
  position: absolute;
  top: 190px;
  left: 50px;
}
/*# sourceMappingURL=style.css.map */